*{
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 255, 230);
}


body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    text-decoration: none;
    font-weight: bold;
    color: #333;
    padding: 10px;
    transition: all 0.3s ease;
}

.menu a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(251, 223, 255);
    text-decoration-thickness: 5px;
}

main{
    margin-top: 120px;
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.hero{
    width: 70%;
    display: flex;
    justify-content: space-between;    
}

.hero img{
    height: 450px;
    width: 300px;
}

.herotext{
    height: 300px;
    align-content: center;
}

.hero a{
    text-decoration: underline;

}

.features{
    background-color: rgb(245, 179, 255);
    text-align: center;
    width: 100%;
}

.features h2{
    margin-top: 20px;
    background-color: rgb(245, 179, 255);
}

.featuresimg{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 10%;
    justify-content: space-between;
    background-color: rgb(245, 179, 255);
}

.features img{
    border-radius: 30px;
    height: 240px;
    width: 240px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.aboutpelu{
    width: 80%;
    margin: 80px 0px;
}

.aboutcont{
    display: flex;
    text-align: justify;
    align-items: center;
    justify-content: space-between;
}

.aboutcont h3{
    width: 40%;
}

.aboutcont img{
    width: 480px;
    height: 244px;
    border-radius: 20px;
}





